/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&family=Delicious+Handrawn&family=Montserrat:wght@300&family=Mukta:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,900;1,100;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
  /* scroll-padding: var(--scroll-padding, 10rem); */
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
:root {
  --primary: #fff;
  --secondary: #333d43;
  --textcolor: #ff2400;
  --bg-color: linear-gradient(
    180deg,
    rgba(247, 1, 120, 2) 0%,
    rgba(160, 8, 156, 1) 51%,
    rgba(99, 13, 178, 1) 100%
  );
  /* --scroll-padding: 10rem; */
}
a {
  text-decoration: none;
  color: var(--primary);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
  scroll-behavior: smooth;
}
/* header nav */
header {
  padding: 15px 9%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(174, 173, 173);
}
.logo {
  font-size: 1.7rem;
  font-weight: 700;
}
.logo .s {
  background: var(--bg-color);
  -webkit-background-clip: text;
  color: transparent;
}
.navlist {
  display: flex;
}
.navlist li {
  margin: 0 1rem;
}

.navlist li a {
  display: inline-block;
  font-weight: 600;
}

.navlist li a:hover {
  background: var(--bg-color);
  -webkit-background-clip: text;
  color: transparent;
}
.btn {
  background: var(--bg-color);
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0, 19) 0px 10px 20px,
    rgba(0, 0, 0, 0, 23) 0px 6px 6px;
}
section {
  padding: 15px 8%;
}
/* Home page */
.home {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 4em;
  margin-left: 1%;
  /* background: linear-gradient(98deg, #e5eef7 0%, #fff 100%); */
}
.hero-info {
  margin-top: 4rem;
  margin-left: 3rem;
}

.hero-info h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.hero-info h1 {
  font-size: 3.5rem;
  color: #757575;
}
.hero-info p {
  font-size: 0.9rem;
  color: #757575;
  line-height: 1.5rem;
  text-align: justify;
  width: 142%;
}
.text-animate {
  width: 57%;
  position: relative;
}
.text-animate h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: transparent;
  -webkit-text-stroke: 0.1vw #770753;
  background-repeat: no-repeat;
  background: var(--bg-color);
  -webkit-background-clip: text;
  background-position: 0 0;
  letter-spacing: 2px;
}

.myimage img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 100px;
}
.btn-box {
  margin-top: 2rem;
  display: flex;
  width: 320px;
  gap: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.social-media {
  display: flex;
  gap: 10px;
}
.bg-icons {
  font-size: 30px;
}
.bg-icons:hover {
}

/*   dark mode */
.switch {
  --primary: #36454f;
  --secondary: #ffff;
}

.toggleswitch {
  position: relative;
  margin-right: 10%;
}
.toggleswitch .fa {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: crimson;
}
.fa-sun {
  display: block;
  color: seashell;
}
.switch .fa-moon {
  display: none;
}

/*------------------------------------ about section -------------------------------------*/
.about {
  height: 80vh;
  width: 100%;
  display: flex;
  margin-top: 5rem;
}
.abt {
  text-align: center;
  text-decoration: underline;
  font-weight: 800;
}

.myimage1 img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
  margin: 50px 200px;
}
.hero-info {
  /* margin-top: 3rem; */
}

.hero-info h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.hero-info1 h1 {
  font-size: 50px;
  color: #757578;
}
.hero-info1 p {
  font-size: 0.9rem;
  color: #759890;
  line-height: 1.5rem;
  text-align: justify;
  width: 100%;
}
.text-animate1 {
  width: 57%;
  position: relative;
}
.text-animate1 h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: transparent;
  -webkit-text-stroke: 0.1vw #770753;
  background-repeat: no-repeat;
  background: var(--bg-color);
  -webkit-background-clip: text;
  background-position: 0 0;
  letter-spacing: 2px;
}

.btn-box1 {
  margin-top: 2rem;
  display: flex;
  width: 320px;
  gap: 20px;
}
/*---------------------------------- portfolio ---------------------------- */
#portfolio {
  padding: 50px 0;
}
.sub-title {
  text-align: center;
  color: var(--primary);
  text-decoration: underline;
}
.container {
  padding: 100px;
}
.worklist {
  display: flex;
  gap: 35px;
}
.work {
  position: relative;
}
.work .emp {
  filter: saturate(30%);
  filter: drop-shadow(10px 10px 20px rgb(167, 49, 236));
}
.work img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s;
  filter: drop-shadow(10px 10px 20px rgb(167, 49, 236));
}
.work:hover {
  transform: scale(1.1);
  overflow: hidden;
  color: aliceblue;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
.work:hover .layer {
  height: 100%;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 10px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.work .emp {
  border: 2px;
}
/*------------------------ Skills section-------------------------- */
.skills {
  width: 100%;
  height: 100vh;
}
.skills .txt {
  color: var(--primary);
  text-decoration: underline;
}
.skills h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  color: skyblue;
  font-weight: 800;
  margin-bottom: 2px;
}
.skillbox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 41%));
  margin-left: 100px;
  width: 100%;
  overflow: hidden;
  padding: 20px 40px;
  gap: 3%;
  line-height: 3rem;
}
.skillbox2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 30%));
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  width: 100%;
  overflow: hidden;
  gap: 3%;
  line-height: 3rem;
}

.box {
  border: 2px solid grey;
  border-radius: 20px;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 4px;
  transition: transform 0.5s;
}

.box:hover {
  transform: scale(1.1);
}
ul li i {
  font-size: 1.5rem;
}
/*--------------------Contact From------------------------ */
#contact {
  width: 100%;
  height: 100vh;
}
#contact h2 {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 10px;
  text-decoration: underline;
}
.innercontact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 20px;
  padding: 40px 40px;
  border-radius: 50px;
}

.reach {
  line-height: 2rem;
}
.reach div a i {
  font-size: 30px;
  margin-right: 10px;
  align-items: center;
}
.formpage input {
  height: 2.5rem;
  width: 25rem;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #770753;
  outline-color: #770753;
}
.formpage form {
  display: grid;
  grid-template-rows: auto;
}
.textareabox {
  display: grid;
  grid-template-rows: repeat(minmax);
  margin-bottom: 15px;
}
#message {
  width: 25rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #770753;
  outline-color: #770753;
}
#button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #770753;
  margin-top: 10px;
  margin-left: 130px;
  font-weight: 700px;
  font-size: 16px;
}

footer {
  width: 100%;
  height: 40vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/rect%3e%3cpath d='M 0%2c514 C 48%2c463.2 144%2c281.2 240%2c260 C 336%2c238.8 384%2c452.2 480%2c408 C 576%2c363.8 624%2c60 720%2c39 C 816%2c18 864%2c282 960%2c303 C 1056%2c324 1104%2c106 1200%2c144 C 1296%2c182 1392%2c423.2 1440%2c493L1440 560L0 560z' fill='rgba(24%2c 74%2c 126%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(5%2c 90%2c 126%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: wheat;
  margin-top: 100px;
  overflow: hidden;
}
footer ul li a {
  display: block;
  align-items: center;
  justify-content: center;
  color: wheat;
}
footer .navlist {
  display: block;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
}
footer .copy {
  margin-top: 25px;
}
